@model ChRoy.Repository.User
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Add</title>
</head>
<body>
	<p style="color:red;">@TempData["msg"]</p>

	@using (Html.BeginForm("addsubmit", "user"))
	{
		@Html.LabelFor(m => m.UserName)
		@Html.TextBoxFor(m => m.UserName)
		@Html.LabelFor(m => m.Password)
		@Html.PasswordFor(m => m.Password)

		@Html.AntiForgeryToken();

		<button type="submit">提  交</button>
	}

	<a href="/user/index">返回</a>
</body>
</html>
